{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_title %}
    编辑项目
{% endblock %}
{% block container %}

<div class="row">
    <div class="col-sm-12 pull-left">
        <div class="col-sm-4 pull-left">
            <div id="div_id_projec_title" class="form-group">
           <label for="id_projec_title" class="control-label"><strong>项目的名称</strong></label>
           <div class="controls">
            <label for="id_projec_title" class="control-label">{{ project.project_title}}</label>
            </div>
        </div>
            <div id="div_id_project_profile" class="form-group">
            <label for="id_project_profile" class="control-label"><strong></strong>项目简介</label>
            <div class="controls ">
                <input class="textinput textInput form-control" id="project_profile" maxlength="255" type="text" value="{{ project.project_title }}" readonly/>
            </div>
      </div>
            <div id="div_id_project_member" class="form-group">
                <label for="id_project_member" class="control-label  requiredField"><strong>项目人员</strong></label>
                <div class="controls ">
                <input class="textinput textInput form-control" id="id_project_member" maxlength="255" type="text" value="{% for member in project.project_member.all %}{{ member }}  {% endfor %} " readonly/>
            </div>
            </div>
            <form method='POST' action='{% url 'project_edit' pk=project.id %}' class="pull-left">
    {% if project.project_creater == request.session.user_name %}
       {% if project.progect_is_finish != 2%}
           <div style="position: relative; height: 120px;" >
           <div style="width: 100%;height: 30px; line-height: 30px;position: absolute; top: 0;">
                                添加成员
           </div>
               <div style="width: 100%; position: absolute; top: 30px; bottom: 0;overflow: auto;">
                   {% for member in users %}
                       <div>
                           <input type="checkbox" name="project_member" value="{{ member.id }}">
                           <label>{{ member.user.username }}</label>
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div>
            <a class="red project_finish" href="{% url 'project_finish' project.id%}?project_status=2" title="结束项目">
                <input class='btn btn-sm btn-primary' type='button' value='结束项目' />
            </a>
           </div>
       {% else %}
           <div>
            <a class="project_finish" href="{% url 'project_finish' project.id%}?=1" title="重启项目">
                <input class='btn btn-primary' type='button' value='重启项目' />
            </a>
        </div>
       {% endif %}
    {% endif %}
    </form>
        </div>
    <div class="col-sm-8 pull-right">
        <div id="div_id_process_content" class="form-group">
            <div class="controls ">
                <dl style="bottom: 0; margin: 0;padding: 0; border-bottom:1px solid #ddd">
                    <dt>创建时间</dt>
                    <dd>{{ project.progect_createrime }}</dd>
                    <dt>创建人</dt>
                    <dd>{{ project.project_creater }}</dd>
                    {% if project.progect_is_finish == 2 %}
                        <dt>结束时间</dt>
                        <dd>{{ project.progect_finish_time }}</dd>
                    {% elif project.project_creater == request.session.user_name  %}
                        <span>
                            <a href="{% url 'project_edit' project.id%}?edit=1" style="color:grey">编辑</a>|
                            <a href="{% url 'process_delete' project.id %}" class="project_delete" title="删除项目" style="color:grey">删除</a>
                        </span>
                    {% endif %}
                </dl>
            </div>
         </div>
    </div>
    </div>
</div>

{% endblock %}
